
.finish-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 40px);
  width: calc(100vw - 40px);
  max-width: 400px;
  padding: 20px;
}

.max-score-block {
  display: flex;
  flex-direction: column;
}

.max-score-title {
  font-size: 1rem;
}

.max-score {
  font-size: 2rem;
  font-weight: bold;
}

.score-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.score-title {
  font-size: 1rem;
}

.score {
  font-size: 2rem;
  font-weight: bold;
}

.again-button-container {
  padding: 20px;
  background-color: var(--purple);
  border-radius: 20px;
}


.menu-button-container {
  padding: 20px;
  background-color: var(--secondary-background-color);
  border-radius: 20px;
  margin-top: 10px;
}
