
.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 40px);
  width: calc(100vw - 40px);
  max-width: 400px;

  padding: 20px;
}

.max-score-block {
  display: flex;
  position: absolute;
  top: 20px;
  flex-direction: column;
}

.max-score-title {
  font-size: 1rem;
}

.max-score {
  font-size: 2rem;
  font-weight: bold;
}

.levels-row {
  display: flex;
  flex-direction: row;
  background-color: var(--secondary-background-color);
  border-radius: 20px;
  margin-top: 10px;
  width: 100%;
}

.level-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
  width: 100%;
  padding: 20px;
  transition: 0.3s;
}

.start-button-container {
  width: calc(100% - 40px);
  padding: 20px;
  background-color: var(--purple);
  border-radius: 20px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 40px);
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  animation: fadeIn 0.3s forwards;
}

.modal-overlay.show {
  opacity: 1;
  visibility: visible;
}

.modal-window {
  background: #000000d3;
  max-width: 400px;
  padding: 20px;
  border-radius: 10%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  transform: scale(0.8);
  opacity: 0;
  animation: zoomIn 0.3s forwards;
}

.modal-window.fade-out {
  animation: zoomOut 0.3s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoomOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.8);
    opacity: 0;
  }
}

.leaderboard-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  color: var(--text-color);
}

.leaderboard-button-container {
  width: calc(100% - 40px);
  padding: 20px;
  background-color: var(--secondary-background-color);
  border-radius: 20px;
  margin-top: 10px;
}
