.card-root {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-background-color);
  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.5s;

  border-radius:  20%;
  pointer-events: none; 
}

.card-logo-img {
  max-width: 70%;
  max-height: 70%;
  pointer-events: none;
  user-select: none; 
}

.card-root.selected {
  background-color: var(--purple);
}

.card-root.error {
  background-color: var(--red);
}

.card-root.accepted {
  background-color: var(--green);
}

.card-root.hidden {
  opacity: 0;
  visibility: hidden;
}
